<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shopping - About </title>
    <link rel="icon" type="image/icon" href="../static/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/aboutUs.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>

    <header class="header">
        <a href="#" class="logo"><img src="../static/images/logo.png" width="120" height="80"></a>

        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Categories</a>
            <a href="#">Review</a>
            <a href="#">About Us</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu"></div>
            <div class="fas fa-search" id="search"></div>
            <div class="fas fa-shopping-cart" id="cart"></div>
            <div class="fas fa-user" id="user"></div>
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="Search here..." />
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">
            <div class="box">
                <a class="fas fa-trash"></a>
                <div class="content">
                    <h3 class="name">Laptop</h3>
                    <span class="price">12.99</span><br />
                    <span class="quantity">1</span>
                </div>
            </div>
            <div class="total">
                <h3>Laptop</h3>
            </div>
            <a href="#" class="btn">Checkout</a>
        </div>

        <form method="post" class="login">
            <h3>LogIn</h3>
            <input type="email" name="email" placeholder="Enter email..." class="box" />
            <input type="password" name="password" placeholder="Enter password..." class="box" />
            <p>Forgot your password? <a href="#">Click Here</a></p>
            <p>Don't have an account<a href="/auth/register">Create Now</a></p>
            <input type="submit" value="Login Now" class="btn" />
        </form>
    </header>

    <section id="blog">
        <div class="blog-heading">
            <h3>About<span>Us</span></h3>
        </div>
        <br />
        <br />
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="info">
                        <h3>Shop with pleasure at <span>Shopping</span></h3>
                        <p>Make a gift for yourself or a loved one in Shopping. Here you will find the best, high
                            quality technology at super prices. We work with world-famous partners such as Samsung,
                            Acer, Asus, Apple, Huawei and many others. We have been in business for 5 years, but we are
                            growing every day. Our sponsors are Samsung and Acer who have provided the latest and most
                            advanced phones and laptops on the market that you can only get from us. You can buy your
                            product online or in our stores in Montana and Vratsa.</p>
                        <div>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image-section">
                    <img src="../static/images/aboutUsPics.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="../static/js/shopping.js"></script>
</body>

</html>