<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Shopping</title>
	<link rel="icon" type="image/icon" href="/images/logo.png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="css/categories.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>
	<header th:replace="~{fragments/header}"></header>

	<div class="gallery">
		<div class="productContent">
			<img src="/images/computer.png" />
			<h3>Computer</h3>
			<a href="/products/1" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/phone.png" />
			<h3>Phone</h3>
			<a href="/products/2" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/smart_watch.png" />
			<h3>Smart-watch</h3>
			<a href="/products/3" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/tablet.png" />
			<h3>Tablet</h3>
			<a href="/products/4" class="btn">Look More</a>
		</div>
	</div>

	<div class="gallery">
		<div class="productContent">
			<img src="/images/acer.png" />
			<h3>Laptop</h3>
			<a href="/products/5" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/playstation.png" />
			<h3>Playstation</h3>
			<a href="/products/6" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/monitor.png" />
			<h3>Monitor</h3>
			<a href="/products/7" class="btn">Look More</a>
		</div>

		<div class="productContent">
			<img src="/images/usb-flash.png" />
			<h3>USB - Flash</h3>
			<a href="/products/8" class="btn">Look More</a>
		</div>
	</div>

	<script type="text/javascript" src="/js/shopping.js"></script>
</body>

</html>