<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Payment</title>
    <link rel="icon" type="image/icon" href="../static/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/payment.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col">
                    <h3 class="title">Billing Address</h3>
                    <div class="inputBox">
                        <span>Full Name: </span>
                        <input type="text" placeholder="Strahil Hristov" />
                    </div>
                    <div class="inputBox">
                        <span>Email: </span>
                        <input type="email" placeholder="strahooo@abv.bg" />
                    </div>
                    <div class="inputBox">
                        <span>Phone Number: </span>
                        <input type="text" placeholder="(+359) 00 000 0001" />
                    </div>
                    <div class="inputBox">
                        <span>Address: </span>
                        <input type="text" placeholder="Street or Locality" />
                    </div>
                    <div class="inputBox">
                        <span>City: </span>
                        <input type="text" placeholder="Montana" />
                    </div>
                    <div class="inputBox">
                        <span>State: </span>
                        <input type="text" placeholder="Bulgaria" />
                    </div>
                </div>
                <div class="col">
                    <h3 class="title">Payment</h3>
                    <div class="inputBox">
                        <span>Card accepted: </span>
                        <img src="../static/images/card.png" />
                    </div>
                    <div class="inputBox">
                        <span>Name on card: </span>
                        <input type="email" placeholder="Strahil Hristov" />
                    </div>
                    <div class="inputBox">
                        <span>Card number: </span>
                        <input type="text" placeholder="0000 0000 0000 0000" />
                    </div>
                    <div class="inputBox">
                        <span>Valid month/year: </span>
                        <input type="text" placeholder="01/2023" />
                    </div>
                    <div class="inputBox">
                        <span>CVV: </span>
                        <input type="text" placeholder="0000" />
                    </div>
                    <div class="inputBox">
                        <span>State: </span>
                        <input type="text" placeholder="Bulgaria" />
                    </div>
                </div>
            </div>
            <input type="button" value="Proceed to checkout" class="submit-btn" />
        </form>
    </div>
</body>

</html>