<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shopping</title>
    <link rel="icon" type="image/icon" href="../static/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/phonePage.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <header class="header" th:fragment="header">
        <a href="#" class="logo"><img src="../static/images/logo.png" width="120" height="80"></a>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/reviews">Review</a>
            <a href="/aboutUs">About Us</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu"></div>
            <div class="fas fa-search" id="search"></div>
            <div class="fas fa-shopping-cart" id="cart"></div>
            <div class="fas fa-user" id="user"></div>
        </div>

        <form th:action="@{/products/search}" th:method="GET" class="search-form">
            <input type="search" id="search-box" name="filter" placeholder="Search here..." />
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">
            <div class="box" th:each="item : ${cartItems}" th:object="${item}">
                <a th:href="@{/delete/{id}(id=*{id})}" class="fas fa-trash"></a>
                <img th:src="*{image}" />
                <div class="content">
                    <h3 th:text="*{productName}"></h3>
                    <span class="price" th:text="*{amount}"></span><br />
                    <span class="quantity" th:text="*{quantity}"></span>
                </div>
            </div>
            <div class="total">
                <h3 th:text="'Total: ' + ${total}"></h3>
            </div>
            <a href="/checkout" class="btn">Checkout</a>
        </div>

        <form sec:authorize="isAnonymous()" th:action="@{/auth/login}" th:method="POST" class="login">
            <h3>LogIn</h3>
            <input type="email" name="email" placeholder="Enter email..." class="box" />
            <input type="password" name="password" placeholder="Enter password..." class="box" />
            <p>Forgot your password? <a href="#">Click Here</a></p>
            <p>Don't have an account<a href="/auth/register">Create Now</a></p>
            <input type="submit" value="Login Now" class="btn" />
        </form>
        <div sec:authorize="isAuthenticated()" style="float: right;">
        </div>
    </header>

    <div class="gallery">
        <div class="productContent">
            <img src="../static/images/phone Page/phone1.jpg" />
            <h3>GSM PANASONIC KX-TU110</h3>
            <p>39лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone2.jpg" />
            <h3>GSM MYPHONE HALO</h3>
            <p>42лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone3.jpg" />
            <h3>GSM MYPHONE HALO 3</h3>
            <p>51лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone4.jpg" />
            <h3>GSM MYPHONE RUMBA 2</h3>
            <p>56лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>
    </div>

    <div class="gallery-second">
        <div class="productContent">
            <img src="../static/images/phone Page/phone5.jpg" />
            <h3>GSM MYPHONE HAMMER PATRIOT</h3>
            <p>79.99лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone6.jpg" />
            <h3>NOKIA C21 PLUS</h3>
            <p>109лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone7.jpg" />
            <h3>XIAOMI REDMI A2</h3>
            <p>129лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone8.jpg" />
            <h3>MOTOROLA E13</h3>
            <p>135лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>
    </div>

    <div class="gallery-second">
        <div class="productContent">
            <img src="../static/images/phone Page/phone9.jpg" />
            <h3>POCO C40</h3>
            <p>189лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone10.jpg" />
            <h3>HUAWEI NOVA 11i</h3>
            <p>369лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone11.jpg" />
            <h3>GSM APPLE IPHONE 12</h3>
            <p>1 109лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>

        <div class="productContent">
            <img src="../static/images/phone Page/phone12.jpg" />
            <h3>SAMSUNG GALAXY S23 ULTRA</h3>
            <p>2 099лв.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <a href="/products/computers" class="btn">Add Cart</a>
        </div>
    </div>
</body>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script type="text/javascript" src="../static/js/shopping.js"></script>

</html>