<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Shopping</title>
    <link rel="icon" type="image/icon" href="../static/image/logo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/shopping.css"/>
</head>
<body>
<div class="container">
    <div class="center">
        <h1>Register</h1>
        <form method="POST" action="">
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input type="text" name="phone" required>
                <span></span>
                <label>Phone</label>
            </div>
            <input name="submit" type="Submit" value="Sign Up">
            <div class="signup_link">
                Have an Account ? <a href="loginForm.php">Login Here</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>